@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&family=Roboto:wght@500&display=swap');
.header-wrap {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 65px;
  max-width: 1300px;
  margin: 0 auto;
  @media all and (max-width: $media-width) {
    padding: 15px 16px;
  }
  .list {
    display: flex;
    align-items: center;
    height: 100%;

    .header-logo {
      display: flex;
      height: 100%;
      align-items: center;
      cursor: pointer;
      .logo {
        font-size: 45px;
        @media all and (max-width: $media-width) {
          font-size: 36px;
        }
      }
      .logo-text {
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        font-size: 35px;
        line-height: 100%;
        margin-left: 6px;
        height: 45px;
        display: flex;
        align-items: center;
        @media all and (max-width: $media-width) {
          height: 36px;
          font-size: 30px;
        }
      }
    }
    .header-category {
      display: flex;
      align-items: center;
      height: 45px;
      width: auto;
      margin-left: 100px;

      .category {
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 39px;
        cursor: pointer;
        &:not(&:first-child) {
          margin-left: 40px;
        }
      }
      @media all and (max-width: $media-width) {
        display: none;
      }
    }
  }
  .button-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .btn {
      font-weight: 700;
      font-size: 15px;
      width: 90px;
      &.margin {
        margin-right: 5px;
      }
      @media all and (max-width: $media-width) {
        display: none;
      }
    }
    .button-icon {
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      display: none;
      @media all and (max-width: $media-width) {
        display: block;
      }
      .icon {
        display: flex;
        align-items: center;
        font-size: 36px;
      }
    }
  }
}
