@import './variables.scss';
.header-wrap {
  width: 100%;
  height: $header-height;
  padding: 10px 65px;
  border-bottom: 1px solid #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: padding 0.1s ease-in-out, height 0.2s;
  @media all and (max-width: $media-width) {
    padding: 15px 16px;
    height: 60px;
  }
  .header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    .list {
      display: flex;
      align-items: center;
      height: 100%;

      .header-logo {
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;
        .logo {
          font-size: 45px;
          @media all and (max-width: $media-width) {
            font-size: 36px;
          }
        }
        .logo-text {
          font-weight: 900;
          font-size: 35px;
          line-height: 100%;
          margin-left: 6px;
          height: 45px;
          display: flex;
          align-items: center;
          @media all and (max-width: $media-width) {
            height: 36px;
            font-size: 30px;
          }
        }
      }
      .header-category {
        display: flex;
        align-items: center;
        height: 45px;
        font-weight: 200;
        width: 395px;
        margin-left: 80px;
        flex-wrap: wrap;
        gap: 30px;
        .category {
          font-family: 'Noto Sans KR', sans-serif;
          height: 100%;
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 20px;
          line-height: 39px;
          cursor: pointer;
          &:hover {
            border-bottom: 1px solid;
            color: $main-color;
          }
        }
        @media all and (max-width: $media-width) {
          display: none;
        }
      }
    }
    .button-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .btn {
        font-weight: 700;
        font-size: 15px;
        width: 90px;
        &.margin {
          margin-right: 5px;
        }
        @media all and (max-width: $media-width) {
          display: none;
        }
      }
      .button-icon {
        display: none;
        &.active {
          width: 100vw;
        }
        @media all and (max-width: $media-width) {
          display: block;
          height: 36px;
          width: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 36px;
        }
        .icon {
          display: flex;
          align-items: center;
          font-size: 36px;
        }
      }
      .user {
        gap: 10px;
        height: 48px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icons {
          &:hover {
            color: $main-color;
          }
        }
        .nickName {
          width: auto;
          max-width: 130px;
          font-size: 16px;
          font-weight: 700;
          position: relative;
          &.act{
            color: $main-color;
            &:active{
              background: none;
            }
          }

        }
        .btn {
          width: 100px;
          margin-left: 10px;
        }
        @media all and (max-width: $media-width) {
          display: none;
        }
      }
    }
  }
}
