@import './variables.scss';

.layouts-wrap {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 20px 65px;
  min-height: calc(100vh - $footer-height - $header-height);
  flex-direction: column;
  display: flex;
  flex: 1;
  transition: padding 0.1s ease-in-out, height 0.2s;

  @media all and (max-width: $media-width) {
    padding: 10px 16px;
    height: auto;
  }

  .layouts-content {
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
  }
}
