@import './variables.scss';

.login-wrap {
  height: 100vh;
  width: 100%;
  background: #f8f9fa;
  display: flex;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;
  @media all and (max-width: $media-width) {
    height: calc(100vh);
  }
  .login {
    padding: 0 10px;
    width: 100%;
    max-width: 500px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    .login-head {
      height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        height: 100%;
        display: flex;
        align-items: center;
        .icon-logo {
          font-size: 40px;
        }
      }
      .logo-text {
        font-size: 36px;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 8px;
      }
    }
    .login-contnet {
      margin-top: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .login-input {
        height: auto;
        margin-bottom: 5px;
        input {
          height: 40px;
          padding: 0 10px;
          font-size: 16px;
        }
      }
    }
  }
}
