@import './variables.scss';

.toogle-wrap {
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  display: flex;

  .toogle-content {
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 1s ease-in-out;
    transition-duration: 400ms;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    width: 300px;
    height: 100%;
    right: 0;
    background: $white;
    animation: 0.2s fa forwards;
    padding: 10px 15px;

    .toogle-head {
      height: 70px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f1f3f5;
      justify-content: flex-start;
      .head-logo {
        display: flex;
        align-items: center;
        font-size: 30px;
        height: 100%;
      }
      .head-desc {
        height: 40px;
        display: flex;
        align-items: flex-end;
        margin-left: 10px;
        b {
          margin: 0 5px;
          color: $main-color;
        }
      }
    }

    .head-btn {
      display: flex;
      width: 100%;
      margin-top: 10px;
      justify-content: space-between;
      .btn {
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 17px;
        font-weight: 700;
      }
    }

    .login-default {
      width: 100%;
      .default-head {
        padding: 10px 0;
        border-bottom: 1px solid #f1f3f5;
        .image-nick {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          .image {
            height: 64px;
            width: 64px;
            border-radius: 8px;
            overflow: hidden;
            .icon {
              font-size: 64px;
            }
          }
          .nickName {
            font-size: 20px;
            margin-bottom: 5px;
            margin-left: 15px;
          }
        }

        .btn-wrap {
          height: 56px;
          display: grid;
          align-items: center;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
        }
      }
    }
  }
}

@keyframes fa {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
